<template>
  <div class="create">
   
      <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Dashboard</h1>
          <Sidebar></Sidebar>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <h1 class="my-4">Project Summery</h1>
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body text-center">
                  <h4 class="card-title">Total Products</h4>
                  <h5>250 </h5>
                  <p class="card-text">
                      <router-link to="/admin/product/create">Go to Product add</router-link>
                  </p>
                </div>
                
              </div>
            </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    
  </div>
</template>

<script>
import Sidebar from '@/components/admin/Sidebar.vue';
export default {
  name: 'create',
  data() {
    return {

    }
  },
  components:{
      Sidebar
  }
}
</script>

