<template>
  <div class="sidebar">
        <a href="#" class="list-group-item">Category 1</a>
        <router-link to="/admin/product/create" class="list-group-item">Product add</router-link>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  data() {
   return {

   }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
