<template>
  <div class="about">
    <div class="container">
      <h1 class="my-4">About Company</h1>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Bitla Shop is ...</a>
                </h4>
              
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'about',
  data() {
   return {

   }
  },
  computed:
  {
    // myVal()
    // {
    //   return this.$store.getters.getMyValue
    // }
  },

  methods:{
    // increment()
    // {
    //   this.$store.dispatch('incrementValue')
    // }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
