<template>
  <div class="customer">
   
   <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Bitla Shop</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <h1 class="my-4">Products Itmes</h1>
          <div class="row">

            <div class="col-lg-4 col-md-6 mb-4" v-for="(product,index) in products" :key="index">
              <div class="card h-100">
                <router-link :to="'/product/'+product.id"><img class="card-img-top" :src="'http://localhost:8000/product_images/' +product.image" alt=""></router-link>
                <div class="card-body">
                  <h4 class="card-title">
                    <router-link :to="'/product/'+product.id">{{product.name}}</router-link>
                  </h4>
                  <h5>{{product.price}}</h5>
                  <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    
  </div>
</template>

<script>

// import {state, mapGetters} from 'vuex'
// import {mapState, mapActions} from 'vuex'

export default {
  //name: 'products',
  data() {
   return {
     productsList:[]
   }
  },

  methods:{
      
  },

  mounted()
  {
    if(this.products.length)
    {
      retrun
    }else{
      this.$store.dispatch('getProducts');
    }
      
  },

  computed:{
      products(){
        return this.$store.getters.AllProducts
      },
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
