<template>
    <div>   
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <img style="max-width:400px;" :src="'http://localhost:8000/product_images/'+productDetails.image" />
                </div>

                <div class="col-md-6">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3>{{productDetails.name}}</h3>    
                    <!-- Precios -->
                    <h6 class="title-price"><small>PRECIO OFERTA</small></h6>
                    <h3 style="margin-top:0px;">{{productDetails.price}}</h3>
        
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr"><small>Description</small></h6>                    
                        <div>
                            <p>{{productDetails.description}}</p>
                        </div>
                    </div>   
                                                         
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return {
            productid:this.$route.params.id,
            productDetails:null
        }
    },
    created()
    {
        if(this.allproducts.length)
        {
            this.productDetails=this.allproducts.find((productDetails) => productDetails.id ==this.$route.params.id);
        }else{
            var _this=this
            axios.get('http://localhost:8000/api/product/'+this.productid).then(function(data){
                _this.productDetails=data.data
            })
        }
        
    },
    computed:
    {
        allproducts()
        {
             return this.$store.getters.AllProducts
        }
    }
}
</script>

<style>

</style>
