<template>
  <div class="create">
   
      <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Options</h1>
          <Sidebar></Sidebar>

        </div>
        <!-- /.col-lg-3 -->

        
        <div class="col-lg-9">
          <h1 class="my-4">Product Insert Form</h1>
        <div v-if="error">
            <ul>
                <li style="color:crimson">{{error}}</li>
            </ul>
        </div>
          <form enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="title">Product Title</label>
                        <input type="text" id="title" v-model="name" class="form-control" placeholder="Title">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" id="price" v-model="price" class="form-control" placeholder="Price">
                     </div>
                </div>
                
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Product Image</label>
                        <img :src="image" style="width:100px">
                        <input type="file" class="form-control-file" name="image" @change="flieUpload" id="ProductImage">
                        <progress :value="percent" max="100"></progress> {{percent}}%
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="price">Description </label>
                        <textarea class="form-control" name="" v-model="description" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <button type="button" @click="addNewProduct" class="btn btn-primary mb-2 float-right">Submit</button>
                    </div>
                </div>
            </div>
        </form>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    
  </div>
</template>

<script>
import Sidebar from '@/components/admin/Sidebar.vue';
import axios from 'axios'
export default {
  name: 'create',
  data() {
    return {
        name:null,
        price:null,
        description:null,
        image:null,
        imageName:null,
        percent:0,
        error:null
    }
  },
  methods:{
      flieUpload(event)
      {
        var image = event.target.files[0];
        this.imageName=image.name;
        var reader=new FileReader();
        reader.readAsDataURL(image)
        reader.onload=event=>{
            this.image=event.target.result
        }
      },

      addNewProduct()
      {
          if(this.name==null || this.description==null || this.price==null)
          {
            this.error=("Somethong is Wrong");
          }
          else{
            var _this=this;
            var elmnt=document.getElementById('ProductImage');
            const fd= new FormData();
            fd.append("image",elmnt.files[0],elmnt.files[0].name);
            fd.append('name',this.name);
            fd.append('price',this.price);
            fd.append('description',this.description)
            axios.post('http://localhost:8000/api/product',fd,{
                onUploadProgress:function(dataProgress)
                {
                    _this.percent=(Math.round((dataProgress.loaded/dataProgress.total)*100))
                }
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
          }
        
      }
  },

    components:{
      Sidebar
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
