<template>
  <div id="app">
    <myHeader/>
    <router-view></router-view>
  </div>
</template>

<script>

import myHeader from './components/includes/myHeader.vue'

export default {
  name: 'app',
  components: {
    myHeader
  }
}
</script>
